.contact-container{
    padding: 20px;
    text-align: center;
    background-color: rgb(190, 207, 231);
}
.contact-container h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.contact-container p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgb(13, 13, 43);
    max-width: 800px;
    margin: 0 auto;
}
.contact-form{
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    color: rgb(13, 13, 43);
}
.form-group{
    margin-bottom: 15px;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input,
.form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #9593f0;
    border-radius: 10px;
    font-size: 1rem;
}
.form-group textarea{
    resize: vertical;
}
button[type="submit"]{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(180, 180, 243);
    color: rgb(16, 16, 238);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgb(69, 69, 248);
    color: azure;
}
#success-message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #28a745; 
  }